* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #CEC9E1;
}

#content header {
    background-color: #B8B9DD;
    text-align: center;
}

#content main {
    margin: auto;
    width: 30%;
}

main table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

a {
    color: #2A503B;
}

.post {
    padding: 1em;
    display: flex;
    background-color: #F2F2EC;
}

.post:nth-child(odd) {
    background-color: #FAF4EF;
}

.category-block {
    padding: 1em;
    background-color: #F2F2EC;
}

.category-block:nth-child(odd) {
    background-color: #FAF4EF;
}

.post-content {
    display: flex;
    flex-direction: column;
}

.topics {
    border-collapse: collapse;
}

.topics tr {
    background-color: #F2F2EC;
}

.topics tr:nth-child(odd) {
    background-color: #FAF4EF;
}