* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
    margin: 0;
}

#content header {
    background-color: #DB5461;
    color: #E3F2FD;
    text-align: center;
    padding: 1em;
}

#content header a {
    color: #E3F2FD;
}

#content h1 {
    margin: 0;
}

#content main {
    margin: auto;
    width: 60%;
}

main table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

a, a:visited {
    color: #686963;
}

.post {
    padding: 1em;
    display: flex;
    background-color: #F2F2EC;
}

.post dl {
    white-space: nowrap;
    margin-right: 1em;
}

.post:nth-child(odd) {
    background-color: #FAF4EF;
}

.category-block {
    padding: 1em;
    background-color: #F2F2EC;
}

.category-block > table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.category-block thead:first-child {
    background-color: antiquewhite;
}

.category-block:nth-child(odd) {
    background-color: #FAF4EF;
}

.post-content {
    display: flex;
    flex-direction: column;
}

.topics {
    border-collapse: collapse;
}

.topics tr {
    background-color: #F2F2EC;
}

.topics tr:nth-child(odd) {
    background-color: #FAF4EF;
}