.post {
    display: table;
    width: 100%;
}

.post dl, .post div {
    display: table-cell;
    border: 1px solid black;
    width: 50%;
}

.topics {
    border-spacing: 1em;
}

.button {
    display: inline-block;
    float: right;
    font-family: Verdana, sans-serif;
    background-color: darkgrey;
    border: 0;
    padding: 0.5em;
}

.button:visited {
    color: inherit;
}

#content {
    margin: auto;
    width: 50%;
}

#content table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}